{% extends 'base.html' %}

{% block titulo %}
    Controle de Chamados
{% endblock %}

{% block conteudo %}

<div class="d-flex justify-content-center align-items-center mt-1">
    <img src="{{url_for('static', filename='img/login.png')}}" class="img-fluid h3 mb-3 mt-4">
</div>
<h1 class="text-primary display-4 text-center">Login</h1>

<div class="d-flex justify-content-center align-items-center mt-1">
    <div class="row col-md-4">
        <div class="container">
            <form method="POST" class="form-login border border-primary p-4" style="color: whitesmoke;">
                {{ form.hidden_tag() }}

                {{ form.usuario.label(class="text-primary") }}
                {{ form.usuario(class="form-control", placeholder="Informe seu usuário!") }}

                {{ form.senha.label(class="text-primary") }}
                {{ form.senha(class="form-control", placeholder="Informe sua senha!") }}

                <div class="row mt-2">
                    <div class="col-md-8 mx-auto text-center">
                        <div class="d-grid gap-2">
                            {{ form.submit(class="btn btn-sm btn-success mt-3") }}
                        </div>
                        <a href="{{url_for('lembrar_senha')}}" class="d-block mt-2 small text-primary" style="color: whitesmoke;">Esqueceu sua senha? Clique aqui.</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-2 text-center mt-4">
    <p class="text-primary">Site para cadastro, consulta e organização de chamados e Projetos<br>
    Desenvolvido por: Alexsandro Luiz de Faria<br>
    Email: alexsandro.lfaria@gmail.com</p>
</div>

{% endblock %}